.getApp {
  display: flex;
  padding: 8rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fffbf7;
}
.getApp-img {
  object-fit: cover;
  height: 35rem;
}

.getApp-img img {
  /* width: 50%; */
  height: 35rem;
  object-fit: cover;
}

.getApp-form-head {
  font-weight: 500;
  position: relative;
  bottom: 3rem;
}

.getApp-form-head h1 {
  font-size: 2.5rem;
  font-weight: var(--w-500);
}
.getApp-form-head p {
  margin-top: 2rem;
  font-size: 0.95rem;
  color: var(--fade-black);
}

.emailorphone {
  margin-top: 1rem;
}
